<%= bootstrap_form_for(@invoice, label_errors: true) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8">
  <%= f.text_field :title %>
  <%= f.text_field(:due_date, placeholder: 'mm/dd/yyyy') %>
  <%= f.number_field :charge_amount %>
  <%= f.text_area :work_items %>
  <div class="form-group">
    <%= f.select :user_id,
      options_from_collection_for_select(User.where(admin: false).collect, "id", "email", @invoice.user_id),
      {include_blank: true},
      {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %><br />
</div>
</div>

<% end %>
