<div class="container">
	<p id="notice"><%= notice %></p>

	<div class="row">
		<div>
			<h2><%= @invoice.title %></h2>
		</div>
	<hr />
		<p><b>Due Date:</b> <%=@invoice.due_date %></p>
		<p><b>Charge Amount:</b> $<%=@invoice.charge_amount %></p>
		<p><b>Work Items:</b> <%=@invoice.work_items %></p>

		<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
		<%= link_to 'Back', invoices_path %>
	</div>
</div>
