<div class="container">
	<p id="notice"><%= notice %></p>

	<div class="row">
		<div>
			<h2><%= @invoice.title %></h2>
		</div>
	<hr />
		<p><b>Due Date:</b> <%= @invoice.due_date %></p>
		<p><b>Charge Amount:</b> $<%= @invoice.charge_amount %></p>
		<p><b>Work Items:</b> <%= @invoice.work_items %></p>
		<p><b>User:</b> <%= @invoice.user.email %></p>

		<% if current_user.admin? %>
			<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-default" %> |
			<%= link_to 'Send to Client', send_form_path(@invoice.id), class: "btn btn-primary" %>
			|
		<% end %>
		<%= link_to 'Back', invoices_path, class: "btn btn-default" %>
	</div>
</div>
